.buttons{
    width: 175px;
    height: 60px;
    display: flex;
    border: none;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    text-align: left;
    img{
        margin-right: 10px;
        width: 21px;
        height: 21px;
    }
}
